@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
}
body {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    margin: 50px 100px;
    text-align: center;
    justify-content: center;
}
.container{
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
    margin: 0 auto;
}

form {
    display: block;
    padding: 20px;
}

input {
    padding: 10px 10px;
    margin-bottom: 5px;
    font-size: 16px;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 8px 15px;
    cursor: pointer;
}

.error {
    color: red;
}